/* Animações */
@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

/* Estilo da seção "sobre" */
.sobre {
  max-width: 100%;
  height: 400px;
  display: grid;
  grid-template-rows: 2fr 3fr;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  margin: 0 auto;
}

/* Estilo do título "h2" dentro da seção "sobre" */
.sobre h2 {
  font-size: 3rem;
  position: relative;
  animation-name: slideInLeft;
  animation-duration: 1s;
  margin-left: 340px;
}

.sobre h2::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url(../img/blue-paw.png);
  position: absolute;
  z-index: -1;
  left: -40px;
  top: -30px;
}

/* Estilo do texto dentro da seção "sobre" */
.sobre-texto {
  padding-top: 30px;
  font-size: 1.5rem;
  color: var(--about-color);
  margin: 10px 350px;
}

/* Estilos responsivos */
@media (max-width: 1000px) {
  .sobre h2 {
    font-size: 2.5rem;
    margin: 10px 40px;
  }

  .sobre h2::before {
    width: 120px;
    height: 98px;
    top: -35px;
  }

  .sobre-texto {
    font-size: 1.2rem;
    margin: 10px 40px;
  }
}

@media (max-width: 768px) {
  .sobre h2 {
    display: flex;
    justify-content: center;
    margin-left: 0; /* Remover a margem lateral para centralizar */
  }

  .sobre h2::before {
    left: 190px;
  }

  .sobre-texto {
    margin: 2px 20px;
    text-align: start;
  }

  .sobre-texto br {
    display: none;
  }
}

@media (max-width: 390px) {
  .sobre h2 {
    margin-top: -50px;
    width: 300px;
    margin-left: 20px;
    color: var(--salmon);
  }

  .sobre h2::before {
    display: none;
  }

  .sobre-texto {
    margin-top: -20px;
  }
}
