.footer {
  background-color: var(--footer-color);
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 180px auto 0px auto;
}

.footer-container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-container h1 {
  font-size: 4.5rem;
  position: relative;
  z-index: 1;
  color: var(--black);
  text-decoration: none;
}

.footer-container h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url(../img/paw-red.png) no-repeat center;
  position: absolute;
  z-index: -1;
  left: -40px;
  top: -15px;
}

.footer-container p {
  font-size: 1.5rem;
  color: var(--p-color);
  text-decoration: none;
}

.footer-list {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  margin: 20px auto;
}

.footer-list li a {
  color: black;
  font-size: 1.3rem;
  text-decoration: none;
}

.footer-list li a:hover {
  text-decoration: underline;
}

#wpp {
  width: 24px;
}

#inst {
  width: 16px;
}

#facebook{
  width: 25px;
}

@media (max-width: 768px) {
  .footer {
    max-width: 1200px;
    background-color: var(--bg-color);
  }
}

@media (max-width: 420px) {
  .footer-container h1::before {
    display: none;
  }
  .footer-img {
    width: 200px;
  }

  .footer-list {
    margin: 20px auto;
  }

  .footer-container h1 {
    font-size: 2rem;
    color: var(--dark-salmon);
  }

  .footer-container p {
    font-size: 1rem;
    margin-bottom: -15px;
  }

  .footer-list li a {
    color: black;
    font-size: 0.8rem;
    text-decoration: none;
    gap: 5px;
  }

  .footer-list li a:hover {
    text-decoration: underline;
  }

  #wpp{
    width: 14px;
    color: var(--black);
  }

  #inst {
    width: 11px;
    color: var(--black);
  }
}
